---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import posingWoman from "../images/medium-shot-smiley-woman-posing.png";
import decorativeBackground from "../images/image-bg.svg";
import RadioButton from "../components/RadioButton.astro";
---

<Layout title="Uncover weight loss methods for all menopause stages" metaDescription="Discover effective weight loss strategies tailored for every stage of menopause. Learn how to manage weight and boost overall health through diet, exercise, and lifestyle adjustments.">
  <div class="overflow-hidden relative">
    <Image
      class="lg:block absolute end-0 bottom-1 -mb-10"
      alt="Decorative background"
      src={decorativeBackground}
      format={"webp"}
      width="708"
      height="694"
    />
    <main class="lg:flex container mx-auto lg:min-h-[700px] px-6">
      <div class="w-full lg:w-2/5">
        <div class="flex flex-col my-12">
          <h1 class="text-4xl/12 lg:text-5xl/12">Uncover weight loss methods for all menopause stages</h1>
          <span style={{ color: "#444134" }} class="block text-xl py-8 font-normal">
            What is your desired weight loss goal?
          </span>
          <ul role="list" class="grid grid-cols-2 gap-4 primary">
            <RadioButton id="modal1" label="Lose 0 - 11 lbs" />
            <RadioButton id="modal2" label="Lose 12 - 22 lbs" />
            <RadioButton id="modal3" label="Lose 23 - 44 lbs" />
            <RadioButton id="modal4" label="Lose 45 - 88 lbs" />
            <RadioButton id="modal5" class="p-4 flex flex-cols w-100 col-span-2" label="Lose 88+ lbs" />
          </ul>
          <input type="radio" name="modal" id="modal1-close" class="hidden" />
          <input type="radio" name="modal" id="modal2-close" class="hidden" />
          <input type="radio" name="modal" id="modal3-close" class="hidden" />
          <input type="radio" name="modal" id="modal4-close" class="hidden" />
          <input type="radio" name="modal" id="modal5-close" class="hidden" />
        </div>
      </div>
      <div class="flex items-stretch w-full lg:w-2/3 relative min-h-[500px] lg:min-h-[700px] overflow-hidden">
        <Image
          class="relative self-end lg:absolute lg:bottom-1 xl:top-1 lg:right-1 mx-auto lg:-mb-10"
          alt="Woman smiling"
          src={posingWoman}
          format={"webp"}
          width="550"
          height="708"
        />
      </div>
    </main>
  </div>
</Layout>
