---
import Layout from "../layouts/Layout.astro";
import Logo from "../components/Logo.astro";
import { Image } from "astro:assets";
import ArrowPrevIcon from "../components/icons/ArrowPrevIcon.astro";
import posingWoman from "../images/medium-shot-smiley-woman-posing.png";
import decorativeBackground from "../images/image-bg.svg";
---

<Layout title="Uncover weight loss methods for all menopause stages">
  <div class="overflow-hidden relative">
    <Image
      class="lg:block absolute end-0 bottom-1 -mb-10"
      alt="Decorative background"
      src={decorativeBackground}
      format={"webp"}
      width="708"
      height="694"
    />
    <main class="lg:flex container mx-auto lg:min-h-[700px] px-6">
      <div class="w-full lg:w-2/5">
        <div class="flex flex-col my-12">
          <h1 class="">Uncover weight loss methods for all menopause stages</h1>
          <span
            style={{ color: "#444134" }}
            class="block text-xl py-8 font-normal"
          >
            What is your desired weight loss goal?
          </span>
          <ul role="list" class="grid grid-cols-2 gap-4 primary">
            <li class="p-4 relative">
              <input
                type="radio"
                name="modal"
                id="modal1"
                class="hidden modal-toggle"
              />

              <label for="modal1" class="cursor-pointer block"
                >Lose 0 - 11 lbs</label
              >
              <div class="modal hidden fixed inset-0 z-50 flex justify-center">
                <div class="p-8 rounded-lg relative">
                  <div class="absolute end-6 top-6 lg:-left-96 lg:top-6">
                    <Logo />
                  </div>
                  <div class="flex flex-col gap-6 w-84">
                    <label
                      for="modal1-close"
                      class="inline-block cursor-pointer text-[#444134] py-2 z-50"
                      ><ArrowPrevIcon /></label
                    >

                    <div class="w-full bg-white rounded-full h-2.5">
                      <div
                        class="bg-[#E5BF94] h-2.5 rounded-full"
                        style="width: 10%"
                      >
                      </div>
                    </div>

                    <h2 class="font-serif text-2xl text-center py-4">
                      Why do you want to lose weight?
                    </h2>
                  </div>
                  <ul class="gap-4 primary flex flex-col">
                    <li>
                      <div class="flex items-center ps-3">
                        <input
                          id="choice-1"
                          type="checkbox"
                          class="text-[#DBCDB3] focus:ring-[#DBCDB3] border-[#DBCDB3] peer rounded w-5 h-5"
                          value=""
                        />
                        <label for="choice-1" class="text-lg"
                          >Improve how I look</label
                        >
                      </div>
                    </li>
                    <li>
                      <div class="flex items-center ps-3">
                        <input
                          id="choice2-checkbox"
                          type="checkbox"
                          value=""
                          class="text-[#DBCDB3] focus:ring-[#DBCDB3] border-[#DBCDB3] peer rounded w-5 h-5"
                        />
                        <label for="choice2-checkbox" class="text-lg"
                          >Become healthier</label
                        >
                      </div>
                    </li>
                    <li>
                      <div class="flex items-center ps-3">
                        <input
                          id="choice3-checkbox"
                          type="checkbox"
                          value=""
                          class="text-[#DBCDB3] focus:ring-[#DBCDB3] border-[#DBCDB3] peer rounded w-5 h-5"
                        />
                        <label for="choice3-checkbox" class="text-lg"
                          >Feel better</label
                        >
                      </div>
                    </li>
                    <li>
                      <div class="flex items-center ps-3">
                        <input
                          id="choice4-checkbox"
                          type="checkbox"
                          value=""
                          class="text-[#DBCDB3] focus:ring-[#DBCDB3] border-[#DBCDB3] peer rounded w-5 h-5"
                        />
                        <label for="choice4-checkbox" class="text-lg"
                          >Boost my energy</label
                        >
                      </div>
                    </li>
                    <li>
                      <div class="flex items-center ps-3">
                        <input
                          id="choice5-checkbox"
                          type="checkbox"
                          class="text-[#DBCDB3] focus:ring-[#DBCDB3] border-[#DBCDB3] peer rounded w-5 h-5"
                          value=""
                        />
                        <label for="choice5-checkbox" class="text-lg"
                          >Other</label
                        >
                      </div>
                    </li>
                  </ul>
                  <button class="primary relative mt-16">Next</button>
                </div>
              </div>
            </li>
            <li class="p-4 relative">
              <input
                type="radio"
                name="modal"
                id="modal2"
                class="hidden modal-toggle"
              />
              <label for="modal2" class="cursor-pointer block"
                >Lose 12 - 22 lbs</label
              >
              <div class="modal hidden fixed inset-0 z-50 flex justify-center">
                <div class="p-8 rounded-lg relative">
                  <div class="absolute end-6 top-6 lg:-left-96 lg:top-6">
                    <Logo />
                  </div>
                  <div class="flex flex-col gap-6 w-84">
                    <label
                      for="modal1-close"
                      class="inline-block cursor-pointer text-[#444134] py-2 z-50"
                      ><ArrowPrevIcon /></label
                    >

                    <div class="w-full bg-white rounded-full h-2.5">
                      <div
                        class="bg-[#E5BF94] h-2.5 rounded-full"
                        style="width: 10%"
                      >
                      </div>
                    </div>

                    <h2 class="font-serif text-2xl text-center py-4">
                      Why do you want to lose weight?
                    </h2>
                  </div>
                  <ul class="gap-4 primary flex flex-col">
                    <li>
                      <div class="flex items-center ps-3">
                        <input
                          id="choice-1"
                          type="checkbox"
                          class="text-[#DBCDB3] focus:ring-[#DBCDB3] border-[#DBCDB3] peer rounded w-5 h-5"
                          checked
                          value=""
                        />
                        <label for="choice-1" class="text-lg"
                          >Improve how I look</label
                        >
                      </div>
                    </li>
                    <li>
                      <div class="flex items-center ps-3">
                        <input
                          id="choice2-checkbox"
                          type="checkbox"
                          checked
                          value=""
                          class="text-[#DBCDB3] focus:ring-[#DBCDB3] border-[#DBCDB3] peer rounded w-5 h-5"
                        />
                        <label for="choice2-checkbox" class="text-lg"
                          >Become healthier</label
                        >
                      </div>
                    </li>
                    <li>
                      <div class="flex items-center ps-3">
                        <input
                          id="choice3-checkbox"
                          type="checkbox"
                          value=""
                          class="text-[#DBCDB3] focus:ring-[#DBCDB3] border-[#DBCDB3] peer rounded w-5 h-5"
                        />
                        <label for="choice3-checkbox" class="text-lg"
                          >Feel better</label
                        >
                      </div>
                    </li>
                    <li>
                      <div class="flex items-center ps-3">
                        <input
                          id="choice4-checkbox"
                          type="checkbox"
                          value=""
                          class="text-[#DBCDB3] focus:ring-[#DBCDB3] border-[#DBCDB3] peer rounded w-5 h-5"
                        />
                        <label for="choice4-checkbox" class="text-lg"
                          >Boost my energy</label
                        >
                      </div>
                    </li>
                    <li>
                      <div class="flex items-center ps-3">
                        <input
                          id="choice5-checkbox"
                          type="checkbox"
                          class="text-[#DBCDB3] focus:ring-[#DBCDB3] border-[#DBCDB3] peer rounded w-5 h-5"
                          value=""
                        />
                        <label for="choice5-checkbox" class="text-lg"
                          >Other</label
                        >
                      </div>
                    </li>
                  </ul>
                  <button class="primary relative mt-16">Next</button>
                </div>
              </div>
            </li>
            <li class="p-4 relative">
              <input
                type="radio"
                name="modal"
                id="modal3"
                class="hidden modal-toggle"
              />
              <label for="modal3" class="cursor-pointer block"
                >Lose 23 - 44 lbs</label
              >
              <div class="modal hidden fixed inset-0 z-50 flex justify-center">
                <div class="p-8 rounded-lg relative">
                  <div class="absolute end-6 top-6 lg:-left-96 lg:top-6">
                    <Logo />
                  </div>
                  <div class="flex flex-col gap-6 w-84">
                    <label
                      for="modal1-close"
                      class="inline-block cursor-pointer text-[#444134] py-2 z-50"
                      ><ArrowPrevIcon /></label
                    >

                    <div class="w-full bg-white rounded-full h-2.5">
                      <div
                        class="bg-[#E5BF94] h-2.5 rounded-full"
                        style="width: 10%"
                      >
                      </div>
                    </div>

                    <h2 class="font-serif text-2xl text-center py-4">
                      Why do you want to lose weight?
                    </h2>
                  </div>
                  <ul class="gap-4 primary flex flex-col">
                    <li>
                      <div class="flex items-center ps-3">
                        <input
                          id="choice-1"
                          type="checkbox"
                          class="text-[#DBCDB3] focus:ring-[#DBCDB3] border-[#DBCDB3] peer rounded w-5 h-5"
                          checked
                          value=""
                        />
                        <label for="choice-1" class="text-lg"
                          >Improve how I look</label
                        >
                      </div>
                    </li>
                    <li>
                      <div class="flex items-center ps-3">
                        <input
                          id="choice2-checkbox"
                          type="checkbox"
                          checked
                          value=""
                          class="text-[#DBCDB3] focus:ring-[#DBCDB3] border-[#DBCDB3] peer rounded w-5 h-5"
                        />
                        <label for="choice2-checkbox" class="text-lg"
                          >Become healthier</label
                        >
                      </div>
                    </li>
                    <li>
                      <div class="flex items-center ps-3">
                        <input
                          id="choice3-checkbox"
                          type="checkbox"
                          value=""
                          class="text-[#DBCDB3] focus:ring-[#DBCDB3] border-[#DBCDB3] peer rounded w-5 h-5"
                        />
                        <label for="choice3-checkbox" class="text-lg"
                          >Feel better</label
                        >
                      </div>
                    </li>
                    <li>
                      <div class="flex items-center ps-3">
                        <input
                          id="choice4-checkbox"
                          type="checkbox"
                          value=""
                          class="text-[#DBCDB3] focus:ring-[#DBCDB3] border-[#DBCDB3] peer rounded w-5 h-5"
                        />
                        <label for="choice4-checkbox" class="text-lg"
                          >Boost my energy</label
                        >
                      </div>
                    </li>
                    <li>
                      <div class="flex items-center ps-3">
                        <input
                          id="choice5-checkbox"
                          type="checkbox"
                          class="text-[#DBCDB3] focus:ring-[#DBCDB3] border-[#DBCDB3] peer rounded w-5 h-5"
                          value=""
                        />
                        <label for="choice5-checkbox" class="text-lg"
                          >Other</label
                        >
                      </div>
                    </li>
                  </ul>
                  <button class="primary relative mt-16">Next</button>
                </div>
              </div>
            </li>
            <li class="p-4 relative">
              <input
                type="radio"
                name="modal"
                id="modal4"
                class="hidden modal-toggle"
              />
              <label for="modal4" class="cursor-pointer block"
                >Lose 45 - 88 lbs</label
              >
              <div class="modal hidden fixed inset-0 z-50 flex justify-center">
                <div class="p-8 rounded-lg relative">
                  <div class="absolute end-6 top-6 lg:-left-96 lg:top-6">
                    <Logo />
                  </div>
                  <div class="flex flex-col gap-6 w-84">
                    <label
                      for="modal1-close"
                      class="inline-block cursor-pointer text-[#444134] py-2 z-50"
                      ><ArrowPrevIcon /></label
                    >

                    <div class="w-full bg-white rounded-full h-2.5">
                      <div
                        class="bg-[#E5BF94] h-2.5 rounded-full"
                        style="width: 10%"
                      >
                      </div>
                    </div>

                    <h2 class="font-serif text-2xl text-center py-4">
                      Why do you want to lose weight?
                    </h2>
                  </div>
                  <ul class="gap-4 primary flex flex-col">
                    <li>
                      <div class="flex items-center ps-3">
                        <input
                          id="choice-1"
                          type="checkbox"
                          class="text-[#DBCDB3] focus:ring-[#DBCDB3] border-[#DBCDB3] peer rounded w-5 h-5"
                          checked
                          value=""
                        />
                        <label for="choice-1" class="text-lg"
                          >Improve how I look</label
                        >
                      </div>
                    </li>
                    <li>
                      <div class="flex items-center ps-3">
                        <input
                          id="choice2-checkbox"
                          type="checkbox"
                          checked
                          value=""
                          class="text-[#DBCDB3] focus:ring-[#DBCDB3] border-[#DBCDB3] peer rounded w-5 h-5"
                        />
                        <label for="choice2-checkbox" class="text-lg"
                          >Become healthier</label
                        >
                      </div>
                    </li>
                    <li>
                      <div class="flex items-center ps-3">
                        <input
                          id="choice3-checkbox"
                          type="checkbox"
                          value=""
                          class="text-[#DBCDB3] focus:ring-[#DBCDB3] border-[#DBCDB3] peer rounded w-5 h-5"
                        />
                        <label for="choice3-checkbox" class="text-lg"
                          >Feel better</label
                        >
                      </div>
                    </li>
                    <li>
                      <div class="flex items-center ps-3">
                        <input
                          id="choice4-checkbox"
                          type="checkbox"
                          value=""
                          class="text-[#DBCDB3] focus:ring-[#DBCDB3] border-[#DBCDB3] peer rounded w-5 h-5"
                        />
                        <label for="choice4-checkbox" class="text-lg"
                          >Boost my energy</label
                        >
                      </div>
                    </li>
                    <li>
                      <div class="flex items-center ps-3">
                        <input
                          id="choice5-checkbox"
                          type="checkbox"
                          class="text-[#DBCDB3] focus:ring-[#DBCDB3] border-[#DBCDB3] peer rounded w-5 h-5"
                          value=""
                        />
                        <label for="choice5-checkbox" class="text-lg"
                          >Other</label
                        >
                      </div>
                    </li>
                  </ul>
                  <button class="primary relative mt-16">Next</button>
                </div>
              </div>
            </li>
            <li class="p-4 w-full col-span-2 relative">
              <input
                type="radio"
                name="modal"
                id="modal5"
                class="hidden modal-toggle"
              />
              <label for="modal5" class="cursor-pointer block"
                >Lose 88+ lbs</label
              >
              <div class="modal hidden fixed inset-0 z-50 flex justify-center">
                <div class="p-8 rounded-lg relative">
                  <div class="absolute end-6 top-6 lg:-left-96 lg:top-6">
                    <Logo />
                  </div>
                  <div class="flex flex-col gap-6 w-84">
                    <label
                      for="modal1-close"
                      class="inline-block cursor-pointer text-[#444134] py-2 z-50"
                      ><ArrowPrevIcon /></label
                    >

                    <div class="w-full bg-white rounded-full h-2.5">
                      <div
                        class="bg-[#E5BF94] h-2.5 rounded-full"
                        style="width: 10%"
                      >
                      </div>
                    </div>

                    <h2 class="font-serif text-2xl text-center py-4">
                      Why do you want to lose weight?
                    </h2>
                  </div>
                  <ul class="gap-4 primary flex flex-col">
                    <li>
                      <div class="flex items-center ps-3">
                        <input
                          id="choice-1"
                          type="checkbox"
                          class="text-[#DBCDB3] focus:ring-[#DBCDB3] border-[#DBCDB3] peer rounded w-5 h-5"
                          checked
                          value=""
                        />
                        <label for="choice-1" class="text-lg"
                          >Improve how I look</label
                        >
                      </div>
                    </li>
                    <li>
                      <div class="flex items-center ps-3">
                        <input
                          id="choice2-checkbox"
                          type="checkbox"
                          checked
                          value=""
                          class="text-[#DBCDB3] focus:ring-[#DBCDB3] border-[#DBCDB3] peer rounded w-5 h-5"
                        />
                        <label for="choice2-checkbox" class="text-lg"
                          >Become healthier</label
                        >
                      </div>
                    </li>
                    <li>
                      <div class="flex items-center ps-3">
                        <input
                          id="choice3-checkbox"
                          type="checkbox"
                          value=""
                          class="text-[#DBCDB3] focus:ring-[#DBCDB3] border-[#DBCDB3] peer rounded w-5 h-5"
                        />
                        <label for="choice3-checkbox" class="text-lg"
                          >Feel better</label
                        >
                      </div>
                    </li>
                    <li>
                      <div class="flex items-center ps-3">
                        <input
                          id="choice4-checkbox"
                          type="checkbox"
                          value=""
                          class="text-[#DBCDB3] focus:ring-[#DBCDB3] border-[#DBCDB3] peer rounded w-5 h-5"
                        />
                        <label for="choice4-checkbox" class="text-lg"
                          >Boost my energy</label
                        >
                      </div>
                    </li>
                    <li>
                      <div class="flex items-center ps-3">
                        <input
                          id="choice5-checkbox"
                          type="checkbox"
                          class="text-[#DBCDB3] focus:ring-[#DBCDB3] border-[#DBCDB3] peer rounded w-5 h-5"
                          value=""
                        />
                        <label for="choice5-checkbox" class="text-lg"
                          >Other</label
                        >
                      </div>
                    </li>
                  </ul>
                  <button class="primary relative mt-16">Next</button>
                </div>
              </div>
            </li>
          </ul>
          <input type="radio" name="modal" id="modal1-close" class="hidden" />
          <input type="radio" name="modal" id="modal2-close" class="hidden" />
          <input type="radio" name="modal" id="modal3-close" class="hidden" />
          <input type="radio" name="modal" id="modal4-close" class="hidden" />
          <input type="radio" name="modal" id="modal5-close" class="hidden" />
        </div>
      </div>
      <div
        class="flex items-stretch w-full lg:w-2/3 relative min-h-[500px] lg:min-h-[700px] overflow-hidden"
      >
        <Image
          class="relative self-end lg:absolute lg:bottom-1 xl:top-1 lg:right-1 mx-auto lg:-mb-10"
          alt="Woman smiling"
          src={posingWoman}
          format={"webp"}
          width="550"
          height="708"
        />
      </div>
    </main>
  </div>
</Layout>
