<div class="py-20 bg-white">
  <div class="container mx-auto px-6">
    <p class="mb-8">
      *DISCLAIMER: The outcomes you achieve may differ based on factors such as
      your initial condition, objectives, dedication, and the accuracy of the
      information presented in this form. Typical users of YouthGenom can
      experience a weight loss of up to 4lbs in the initial week.
    </p>
    <p>
      The content provided on this website should not be considered medical
      advice. It is your responsibility to prioritize your health and safety at
      all times. For any inquiries, please consult a medical professional.
    </p>
  </div>
</div>
