---
import Logo from "./Logo.astro";
import UnionIcon from "./icons/UnionIcon.astro"

---

<footer class="bg-[#EDEAE2] py-6">
  <div class="container mx-auto px-6">
    <div class="py-4">
    <Logo />
  </div>
    <p class="py-4">The service is provided by certified nutrition experts and trainers.</p>
    <a href="#" class="font-semibold">Chat with us</a>
    <p class="pt-2 pb-4">
      Our certified Nutritionist team is available through your account chat
      section. We are here for you 24/7.
    </p>
    <a href="#" class="font-semibold">Get help</a>
    <p class="pt-2 pb-4">
      Want to learn more about how to regain youth, want to manage your
      subscription, or you had questions and couldn’t find answers? Just click
      on <a href="#" class="underline">SUPPORT</a>
    </p>
    <div class="flex gap-4 flex-col lg:flex-row">
      <a href="#" class="flex items-center gap-2">TERMS OF SERVICE and POLICIES <UnionIcon /></a>
      <a href="#" class="flex items-center gap-2">TERMS OF SUBSCRIPTION SERVICES <UnionIcon /></a>
    </div>
    <p class="py-4">
      The results differ from person to person. This site is not a part of the
      Facebook website of Facebook Inc. Additionally this site is NOT endorsed
      by Facebook in any way. FACEBOOK is a trademark of FACEBOOK, Inc
    </p>
  </div>
</footer>
