---
import Logo from "./Logo.astro";
import AccountIcon from "./icons/AccountIcon.astro";
---

<header class="container mx-auto min-h-28 lg:min-h-4 px-6">
  <div class="flex justify-between py-6 items-center">
    <Logo />
    <AccountIcon />
  </div>
</header>
